@import "@fontsource/syne-mono";

* {
    position: relative;
    box-sizing: border-box;

    /* primary-tile,  base-bg, grid-slight dark, info-light */
    --primary: #253174;
    --secondary: #d4b6f6;
    --superblack: #090901;

    --baseBG: #fefef6;
    --infoBG: #eceabb;
    --gridBG: #f1f1e9;
    --tileBG: #f9f45d;
    --tileFlippedBG: #1976c8;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: system-ui, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;

    background-color: var(--baseBG);
}

h1 {
    font-family: "Syne Mono";
}
